<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="admin/_fragments :: myhead(~{::title})">
    <title>后台主页</title>
</head>

<body>
<!--导航,0的时候什么都不加-->
<nav th:replace="admin/_fragments :: mymenu(0)"></nav>

<!--中间内容-->
<div class="my-container-small my-padding">
    <!--表单事件-->
    <div class="ui container">
        <div class="ui success large message">
            <p>欢迎来到博客管理页面!</p>
        </div>
        <img src="#" th:src="@{/images/workhard/5.jpg}" alt="" class="ui rounded bordered fluid image">
    </div>
</div>

<!--底部footer-->
<footer th:replace="_fragments :: myfooter"></footer>
<!--自定义的要放在最后，要不一些jQuery事件绑定不到控件上-->
<script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
<script>
    // admin/blogs.html
    // 博客管理页面,个人头像下拉效果
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
</html>