<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="admin/_fragments :: head(~{::title})">
    <title>分类管理</title>
</head>

<body>
<!--分类-->
<nav th:replace="admin/_fragments :: mymenu(2)"></nav>

<!--二级导航-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="item">发布</a>
            <a href="#" class="teal active item">列表</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div class="my-container-small my-padding">
    <!--表单事件-->
    <div class="ui container">
        <!--博客的数据表格-->
        <table class="ui table">
            <thead>
            <tr>
                <th></th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>编程学习</td>
                <td>
                    <a href="#" class="ui mini teal basic button">编辑</a>
                    <a href="#" class="ui mini red basic button">删除</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>工作相关</td>
                <td>
                    <a href="#" class="ui mini teal basic button">编辑</a>
                    <a href="#" class="ui mini red basic button">删除</a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>生活记录</td>
                <td>
                    <a href="#" class="ui mini teal basic button">编辑</a>
                    <a href="#" class="ui mini red basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <!--6列合并-->
                <th colspan="6">
                    <div class="ui mini pagination menu">
                        <a href="#" class="item">上一页</a>
                        <a href="#" class="item">下一页</a>
                    </div>
                    <a href="/admin/typeAdd" class="ui mini right floated teal button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<!--底部footer-->
<footer th:replace="_fragments :: myfooter"></footer>
<!--自定义的要放在最后，要不一些jQuery事件绑定不到控件上-->
<script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
<script>
    // admin/blogs.html
    // 博客管理页面,个人头像下拉效果
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
</html>