<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<!--实际会被fragments中的对应head模块替换地，一个通用的head就能适配所有的模块了-->
<head th:replace="_fragments :: myhead(~{::title})">
    <title>关于我</title>
</head>

<body>
<!--导航-->
<nav th:replace="_fragments :: mymenu(5)"></nav>

<!--中间内容-->
<div class="my-container my-padding-big">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui segment">
                    <img src="/images/dream.jpg" th:src="@{/images/dream.jpg}" class="ui rounded image"/>
                </div>
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui center aligned teal header">自我评价</div>
                </div>
                <div class="ui center aligned attached segment">
                    <div class="my-text">善于自黑的乐观派,热爱编程的务实派.</div>
                    <div class="my-text">喜欢安静，拒绝浮躁</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui center aligned teal header">个人爱好</div>
                </div>
                <div class="ui center aligned attached segment">
                    <div class="ui basic left pointing label my-margin-tiny">编程</div>
                    <div class="ui basic left pointing label my-margin-tiny">跑步</div>
                    <div class="ui basic left pointing label my-margin-tiny">足球</div>
                    <div class="ui basic left pointing label my-margin-tiny">文学</div>
                    <div class="ui basic left pointing label my-margin-tiny">诗词</div>
                    <div class="ui basic left pointing label my-margin-tiny">交友</div>
                    <div class="ui basic left pointing label my-margin-tiny">旅游</div>
                    <div class="ui basic left pointing label my-margin-tiny">爬山</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui center aligned teal header">技能地图</div>
                </div>
                <div class="ui center aligned attached segment">
                    <div class="ui basic left pointing label my-margin-tiny">Java</div>
                    <div class="ui basic left pointing label my-margin-tiny">C++</div>
                    <div class="ui basic left pointing label my-margin-tiny">Python</div>
                    <div class="ui basic left pointing label my-margin-tiny">VBA</div>
                    <div class="ui basic left pointing label my-margin-tiny">微服务</div>
                    <div class="ui basic left pointing label my-margin-tiny">SSM</div>
                    <div class="ui basic left pointing label my-margin-tiny">SpringBoot</div>
                    <div class="ui basic left pointing label my-margin-tiny">算法</div>
                    <div class="ui basic left pointing label my-margin-tiny">前端</div>
                    <div class="ui basic left pointing label my-margin-tiny">机器学习</div>
                    <div class="ui basic left pointing label my-margin-tiny">大数据</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui center aligned teal header">个人经历</div>
                </div>
                <div class="ui center aligned attached segment">
                    <div class="my-text">2012~2016  山东大学-控制学院-自动化</div>
                    <div class="my-text">2016~now  华为-无线-高级软件工程师 </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--底部footer-->
<footer th:replace="_fragments :: myfooter"></footer>
<!--自定义的要放在最后，要不一些jQuery事件绑定不到控件上-->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>