<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<!--实际会被fragments中的对应head模块替换地，一个通用的head就能适配所有的模块了-->
<head th:replace="_fragments :: head(~{::title})">
    <title>博客详情</title>
</head>

<body>
<!--导航-->
<nav th:replace="_fragments :: mymenu(1)"></nav>

<!--中间内容-->
<!--waypoint用于检测滚动,用于在适当的时候显示滚动条-->
<div id="waypoint" class="my-container my-padding animated lightSpeedIn">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui horizontal link list">
                <div class="item">
                    <img src="https://picsum.photos/100/100?image=1027"  th:src="@{${blog.user.avatar}}" class="ui avatar image"/>
                    <div class="content">
                        <a href="#" th:text="${blog.user.nickname}" class="header">梁山广</a>
                    </div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i>
                    <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd hh:MM:ss')}"></span>
                </div>
                <div class="item">
                    <i class="eye icon"></i>
                    <span th:text="${blog.visits}">1234</span>
                </div>
            </div>
        </div>
        <!--博客首页图片-->
        <div class="ui attached segment">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1511623632429&di=52512f2ea0757f93523d62ff97418f02&imgtype=0&src=http%3A%2F%2Fb.zol-img.com.cn%2Fdesk%2Fbizhi%2Fimage%2F5%2F960x600%2F1402539331834.jpg"
                 th:src="@{${blog.firstPicture}}" class="ui fluid rounded image"/>
        </div>
        <!--博客的主题内容-->
        <div class="ui attached padded segment">
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="ui orange basic label" th:text="${blog.flag}">
                        原创
                    </div>
                    <div class="ui yellow basic left pointing label" th:text="${blog.type.name}">
                        编程学习
                    </div>
                </div>
                <div class="eight wide column">
                    <!--要想让某块居右，必须要放在一个ui container中-->
                    <div class="ui right aligned container">
                        <div class="ui basic teal left pointing label" th:each="tag : ${blog.tags}" th:text="${tag.name}">
                            体育
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="ui center aligned header" th:text="${blog.title}">梅西获颁欧洲金靴奖</h2>
            <!--博客主题内容,加js-toc-content是为了利用tocbot插件来生成目录-->
            <div id="content" class="typo typo-selection js-toc-content my-padded-left-right-resp my-padding-large" th:utext="${blog.content}">
                <!--<h1 id="codetest">代码高亮测试：prism，必须指定语言</h1>-->
            </div>
            <!--赞赏-->
            <div class="ui center aligned basic segment">
                <button id="payBtn" class="ui orange basic circular button">赞赏</button>
            </div>
            <!--点击才弹出显示-->
            <div class="ui payCls flowing popup transition hidden">
                <div class="ui orange basic label">
                    <div class="ui images" style="font-size: inherit !important;">
                        <div class="image">
                            <img src="../static/images/alipay.png" th:src="@{/images/alipay.png}" class="ui rounded bordered image" style="width: 120px;"/>
                            <div>支付宝</div>
                        </div>
                        <div class="image">
                            <img src="../static/images/weixin.png" th:src="@{/images/weixin.png}" class="ui rounded bordered image" style="width: 120px;"/>
                            <div>微信</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--版权信息-->
        <div class="ui attached positive message">
            <div class="ui middle aligned grid">
                <div class="one wide column">

                </div>
                <div class="ten wide column">
                    <div class="list">
                        <li>作者姓名：<span th:text="${blog.user.nickname}">梁山广</span></li>
                        <li>发表时间：<span th:text="${#dates.format(blog.createTime,'yyyy-MM-dd hh:MM:ss')}"></span></li>
                        <li>开源主页：https://github.com/19920625lsg</li>
                        <li>工作信息：华为--无线产品线--高级软件工程师</li>
                        <li>版权声明：自由转载，但请保留此块作者相关信息</li>
                    </div>
                </div>
                <div class="four wide column">
                    <img src="../static/images/me.jpg" th:src="@{/images/me.jpg}" class="ui right floated rounded bordered image" style="width: 110px;"/>
                </div>
                <div class="one wide column">

                </div>
            </div>
        </div>
        <!--留言区域-->
        <div id="comment-container" class="ui bottom attached segment">
            <div class="ui teal segment">
                <div class="ui comments">
                    <h3 class="ui dividing header">Comments</h3>
                    <div class="comment">
                        <a class="avatar">
                            <img src="../static/images/avatar/avatar4.jpg" th:src="@{/images/avatar/avatar4.jpg}">
                        </a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM</span>
                            </div>
                            <div class="text">
                                How artistic!
                            </div>
                            <div class="actions">
                                <a class="reply">回复</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="../static/images/avatar/avatar1.jpg" th:src="@{/images/avatar/avatar1.jpg}">
                        </a>
                        <div class="content">
                            <a class="author">Elliot Fu</a>
                            <div class="metadata">
                                <span class="date">Yesterday at 12:30AM</span>
                            </div>
                            <div class="text">
                                <p>This has been very useful for my research. Thanks as well!</p>
                            </div>
                            <div class="actions">
                                <a class="reply">回复</a>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment">
                                <a class="avatar">
                                    <img src="../static/images/avatar/avatar2.jpg" th:src="@{/images/avatar/avatar2.jpg}">
                                </a>
                                <div class="content">
                                    <a class="author">Jenny Hess</a>
                                    <div class="metadata">
                                        <span class="date">Just now</span>
                                    </div>
                                    <div class="text">
                                        Elliot you are always so right :)
                                    </div>
                                    <div class="actions">
                                        <a class="reply">回复</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="../static/images/avatar/avatar3.jpg" th:src="@{/images/avatar/avatar3.jpg}">
                        </a>
                        <div class="content">
                            <a class="author">Joe Henderson</a>
                            <div class="metadata">
                                <span class="date">5 days ago</span>
                            </div>
                            <div class="text">
                                Dude, this is awesome. Thanks so much
                            </div>
                            <div class="actions">
                                <a class="reply">回复</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--提交留言区域-->
            <div class="ui form">
                <div class="field">
                    <textarea name="content" placeholder="请输入评论信息..." rows="" cols=""></textarea>
                </div>
                <div class="fields">
                    <div class="field my-mobile-full my-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="nickname" placeholder="昵称"/>
                        </div>
                    </div>
                    <div class="field my-mobile-full my-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="email" name="email" placeholder="邮箱"/>
                        </div>
                    </div>
                    <div class="field my-margin-bottom-small my-mobile-full">
                        <button class="ui teal button my-mobile-full"><i class="edit icon"></i>发布</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--工具条-->
<div id="myToolBar" class="my-padding-all my-fixed my-right-bottom" style="display: none;">
    <div class="ui vertical icon buttons">
        <button id="categoryBtn" class="ui teal button">目录</button>
        <!--给超链接指定要跳转的id即可-->
        <a href="#comment-container" class="ui teal button">留言</a>
        <!--可以根据网页的url进行扫二维码阅读-->
        <button id="myQR" class="ui icon button"><i class="mobile big icon"></i></button>
        <div id="toTopBtn" class="ui icon button"><i class="chevron up icon"></i></div>
    </div>
</div>
<!--目录:点击才弹出显示-->
<div class="ui category-container flowing popup transition hidden" style="width: 250px;">
    <!-- 根据tocbot官方的案例,为了方便设置地这个类-->
    <ol class="js-toc"></ol>
</div>
<!--生成当前页面的二维码,可以用微信扫描查看,利用qrcode可以自动生成当前页面的二维码图片并填到这个图片中-->
<div id="myqrcode" class="ui qr-container flowing popup transition hidden my-padding-mini-all" style="width: 130px;">
    <!--<img src="images/weixin.png" alt="" class="ui rounded image" style="width: 120px;">-->
</div>
<!--底部footer-->
<footer th:replace="_fragments :: myfooter"></footer>
<!--自定义的要放在最后，要不一些jQuery事件绑定不到控件上-->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
<script th:inline="javascript">
    // 自动生成目录
    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-toc-content',
        // Which headings to grab inside of the contentSelector element.可以自己定义那些h生成目录,默认的只有h1、h2、h3
        // ,我自己加上了h4、h5、h6,但是发现不行,会出bug地.点击目录的时候全乱了
        headingSelector: 'h1, h2, h3'
    });

    // 扫描二维码查看页面
    $('#myQR').popup({
        popup: $('.qr-container.popup'),
        on: 'hover',
        position: 'left center'
    });

    // 生成二维码
    var serurl = "http://liangshanguang.wang";
    var url = /*[[@{/blog/{id}(id=${blog.id})}]]*/"";
    var qrcode = new QRCode("myqrcode", {
        text: serurl+url,
        width: 110,
        height: 110,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });

    // 页面平滑地滚动到最上端
    $('#toTopBtn').click(function () {
        // 第一个元素为目标,第二个为滚动经历的时间
        $(window).scrollTo(0, 1000);
    });

    // 检测在合适的时候才显示右下角的工具栏
    var waypoint = new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function (direction) {
            if (direction === "down") {
                // 200ms的时间出来
                $('#myToolBar').show(200);
            } else {
                // 500ms的时间去隐藏.只有到顶部的时候才会去隐藏工具条
                $('#myToolBar').hide(500);
            }
        }
    })
</script>
</html>