<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<!--实际会被fragments中的对应head模块替换地，一个通用的head就能适配所有的模块了-->
<head th:replace="_fragments :: myhead(~{::title})">
    <title>搜索结果</title>
</head>

<body>
<!--导航-->
<nav th:replace="_fragments :: mymenu(3)"></nav>

<!--中间内容-->
<div class="my-container-small my-padding">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">搜索结果</h3>
                </div>
                <div class="right aligned column">
                    共&nbsp;<h2 class="ui orange header my-inline-block my-text-thin" th:text="${page.totalElements}">
                    17</h2>&nbsp;个
                </div>
            </div>
        </div>
        <div class="ui top attached teal segment">
            <!--文章列表-->
            <div class="ui padded vertical segment my-padding-large my-mobile-left-right-clear"
                 th:each="blog : ${page.content}">
                <!--middle aligned实现图片居中-->
                <div class="ui middle aligned mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"
                                                 class="my-green" th:text="${blog.title}">银河战舰战略失误</a>
                        </h3>
                        <p class="my-text" th:text="|${blog.description}............|">
                            欧冠一场大胜，皇马球员笑逐颜开。不过对手只是希腊人，并不强，且到底还是被热刺超越，银河战舰只拿到了小组第二...
                        </p>
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/100/100?image=1027"
                                             th:src="@{${blog.user.avatar}}"
                                             class="ui avatar image"/>
                                        <div class="content"><a href="#" class="header"
                                                                th:text="${blog.user.nickname}">梁山广</a></div>
                                    </div>
                                    <div class="item"><i class="calendar icon"></i><span
                                            th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                                    </div>
                                    <!--访问量-->
                                    <div class="item"><i class="eye icon"></i><span
                                            th:text="${blog.visits}">1234</span></div>
                                </div>
                            </div>
                            <!--原创、转载、翻译-->
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank"
                                   class="ui middle basic label my-padding-tiny-all my-text-thin my-index-type-size"
                                   th:classappend="${blog.flag == '原创'} ? orange : grey" th:text="${blog.flag}">体育新闻</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                            <img src="https://picsum.photos/800/450?image=1000" th:src="@{${blog.firstPicture}}"
                                 class="ui rounded image"/>
                        </a>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="four wide column">
                        <i class="tags icon"></i>
                        <div class="ui basic label" th:text="${blog.type.name}">
                            编程学习
                        </div>
                    </div>
                    <div class="twelve wide column">
                        <!--要想让某块居右，必须要放在一个ui container中-->
                        <div class="ui right aligned container">
                            <i class="bookmark icon"></i>
                            <div class="ui basic left pointing label" th:each="tag : ${blog.tags}"
                                 th:text="${tag.name}">
                                体育
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer-->
        <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" th:href="@{/search/(page=${page.number}-1)}+'&query='+${query}"
                       class="ui mini teal basic button"
                       th:unless="${page.first}">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" th:href="@{/search/(page=${page.number}+1)}+'&query='+${query}"
                       class="ui mini teal basic button"
                       th:unless="${page.last}">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部footer-->
<footer th:replace="_fragments :: myfooter"></footer>
<!--自定义的要放在最后，要不一些jQuery事件绑定不到控件上-->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>

</html>